

# ä½¿ç”¨Pandasè¿›è¡Œæ•°æ®æ¸…æ´—



![image.png](./images/author.png)

## ç®€ä»‹



Pandas æ˜¯ Python ä¸­å¾ˆæµè¡Œçš„ç±»åº“ï¼Œä½¿ç”¨å®ƒå¯ä»¥è¿›è¡Œæ•°æ®ç§‘å­¦è®¡ç®—å’Œæ•°æ®åˆ†æã€‚æ•°æ®åˆ†æç»“æœçš„å¥½åä¾èµ–äºæ•°æ®çš„å¥½åã€‚
- å­˜åœ¨æ•°æ®ç¼ºå¤±ã€æ•°æ®æ ¼å¼ä¸ç»Ÿä¸€ã€æ•°æ®é”™è¯¯çš„æƒ…å†µã€‚
- ä¸ç®¡æ˜¯ä¸å®Œå–„çš„æŠ¥è¡¨ï¼Œè¿˜æ˜¯æŠ€æœ¯å¤„ç†æ•°æ®çš„å¤±å½“ï¼Œéƒ½ä¼šä¸å¯é¿å…çš„äº§ç”Ÿâ€œè„â€æ•°æ®ã€‚

é¦–å…ˆè¦æ£€æŸ¥æ•°æ®ï¼Œæ˜ç¡®æ•°æ®åˆ†æç›®çš„ã€‚åœ¨æ­¤åŸºç¡€ä¸Šï¼š
- å¤„ç†ç¼ºå¤±æ•°æ®
- æ·»åŠ é»˜è®¤å€¼
- åˆ é™¤ä¸å®Œæ•´çš„è¡Œ
- åˆ é™¤ä¸å®Œæ•´çš„åˆ—
- è§„èŒƒåŒ–æ•°æ®ç±»å‹
- å¿…è¦çš„è½¬æ¢
- å˜é‡é‡å‘½å
- ä¿å­˜ç»“æœ

https://www.cnblogs.com/BoyceYang/p/8182053.html





![](./images/pandas.png)

## æ¡ˆä¾‹1ï¼š ç”µå½±æ•°æ®æ¸…æ´—

Imdb5000æ•°æ®åŒ…å«äº†å¾ˆå¤šä¿¡æ¯ï¼Œä¾‹å¦‚æ¼”å‘˜ã€å¯¼æ¼”ã€é¢„ç®—ã€æ€»æ”¶å…¥ï¼Œä»¥åŠ IMDB è¯„åˆ†å’Œä¸Šæ˜ æ—¶é—´ã€‚æœ‰ä¸€äº›åˆ—çš„å€¼æ˜¯ç¼ºå¤±çš„ï¼Œæœ‰äº›åˆ—çš„é»˜è®¤å€¼æ˜¯0ï¼Œæœ‰çš„æ˜¯ NaNï¼ˆNot a Numberï¼‰ã€‚ä¸‹é¢æˆ‘ä»¬é€šè¿‡ä½¿ç”¨ Pandas æä¾›çš„åŠŸèƒ½æ¥æ¸…æ´—â€œè„â€æ•°æ®ã€‚æ•°æ®æ¥æº:
- https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset
- https://raw.githubusercontent.com/sundeepblue/movie_rating_prediction/master/movie_metadata.csv

In [60]:
import pandas as pd
data = pd.read_csv('../data/movie_metadata.csv')
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### æ£€æŸ¥æ•°æ®

Pandas æä¾›äº†`describe()`æ–¹æ³•æè¿°æ•°æ®ï¼Œè¿˜æä¾›äº† `head() æ–¹æ³•`ï¼Œè¾“å‡ºå‰å‡ è¡Œæ•°æ®ï¼Œè®©æˆ‘ä»¬å¯¹è¯»å…¥çš„æ•°æ®æœ‰ä¸€ä¸ªå¤§è‡´çš„äº†è§£ã€‚æ­¤å¤–ï¼ŒPandas æä¾›äº†ä¸€äº›æ•°æ®åˆ‡ç‰‡çš„æ–¹æ³•ï¼š
- æŸ¥çœ‹ä¸€åˆ—çš„ä¸€äº›åŸºæœ¬ç»Ÿè®¡ä¿¡æ¯ï¼š`data['columnname'].describe()`
- é€‰æ‹©ä¸€åˆ—ï¼š`data['columnname']`
- é€‰æ‹©ä¸€åˆ—çš„å‰å‡ è¡Œæ•°æ®ï¼š`data['columnsname'][:n]`
- é€‰æ‹©å¤šåˆ—ï¼š`data[['column1','column2']]`
- Where æ¡ä»¶è¿‡æ»¤ï¼š`data[data['columnname'] > condition]`

In [63]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [64]:
from collections import Counter

freq = Counter(data['director_name'].tolist())
sorted(list(freq.items()), key=lambda x: x[1], reverse=True)[:10]

[(nan, 104),
 ('Steven Spielberg', 26),
 ('Woody Allen', 22),
 ('Martin Scorsese', 20),
 ('Clint Eastwood', 20),
 ('Ridley Scott', 17),
 ('Tim Burton', 16),
 ('Steven Soderbergh', 16),
 ('Spike Lee', 16),
 ('Renny Harlin', 15)]

###    ä¸€ã€ç¼ºå¤±æ•°æ®

ä¸ºä»€ä¹ˆè¦è€ƒè™‘æ•°å€¼ç¼ºå¤±çš„æƒ…å†µï¼Ÿ

- çœŸå®ä¸–ç•Œçš„æ•°æ®å¾ˆå°‘æ˜¯å¹²å‡€å’Œä¸€è‡´çš„
- è®¸å¤šæœ‰è¶£çš„æ•°æ®é›†éƒ½ä¼šä¸¢å¤±ä¸€äº›æ•°æ®
- ä¸åŒçš„æ•°æ®æºå¯èƒ½ä»¥ä¸åŒçš„æ–¹å¼è¡¨ç¤ºç¼ºå¤±çš„æ•°æ®

ç¼ºå¤±æ•°æ®æ˜¯æœ€å¸¸è§çš„é—®é¢˜ä¹‹ä¸€ã€‚äº§ç”Ÿè¿™ä¸ªé—®é¢˜å¯èƒ½çš„åŸå› 

â‘  ä»æ¥æ²¡æœ‰å¡«æ­£ç¡®è¿‡â‘¡ æ•°æ®ä¸å¯ç”¨â‘¢ è®¡ç®—é”™è¯¯

å¤„ç†ç¼ºå¤±æ•°æ®çš„æ–¹æ³•ï¼š
ä¸€ã€è¡¥å……ç¼ºå¤±å€¼; äºŒã€åˆ é™¤ç¼ºå¤±å€¼; ä¸‰ã€ä¸å¤„ç†

#### 1. ä½¿ç”¨é»˜è®¤å€¼å¡«è¡¥ç¼ºå¤±

In [62]:
data.isnull()[:5] # é€šè¿‡è¿™ä¸ªå‡½æ•°æŸ¥çœ‹æ˜¯å¦æœ‰ç¼ºå¤±å€¼ã€‚Trueè¡¨ç¤ºç¼ºå¤±ï¼ŒFalseè¡¨ç¤ºæ²¡æœ‰ç¼ºå¤±ã€‚

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False

##### ğŸ‘‰ä½¿ç”¨ç©ºå­—ç¬¦ä¸²å¡«è¡¥

In [24]:
data.director_name.fillna('')
# æ­¤å¤„ç”¨ç©ºå­—ç¬¦ä¸²æ›¿ä»£ç¼ºå¤±å€¼
# è¯¥å‡½æ•°çš„ä½¿ç”¨æ–¹æ³•ï¼šåˆ—è¡¨åç§°.åˆ—å.fillna('æ›¿ä»£NAçš„å­—ç¬¦')

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
5038          Scott Smith
5039
5040     Benjamin Roberds
5041          Daniel Hsia
5042             Jon Gunn
Name: director_name, Length: 5043, dtype: object

##### ğŸ‘‰ä½¿ç”¨æ•°å€¼0è¿›è¡Œå¡«è¡¥

In [65]:
data['duration'].fillna(0)

0       178.0
1       169.0
2       148.0
3       164.0
4         0.0
        ...
5038     87.0
5039     43.0
5040     76.0
5041    100.0
5042     90.0
Name: duration, Length: 5043, dtype: float64

#### 2.åˆ é™¤ç¼ºå¤±æ•°æ®
##### â‘ æœ‰ç¼ºå¤±æ•°æ®çš„æƒ…å†µå°±åˆ é™¤ï¼ˆä¸€è¡Œä»»æ„å‡ºç°ä¸€ä¸ªç¼ºå¤±å€¼æˆ‘å°±åˆ æ‰ï¼‰

In [26]:
data.dropna()[:3]
# åˆ é™¤ä»»ä½•åŒ…å« NA å€¼çš„è¡Œï¼š
# å¯ä»¥çœ‹åˆ°åŸæœ¬æœ‰NAå€¼å¾—è¡Œå…¨éƒ¨è¢«åˆ é™¤

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

##### â‘¡ å…¨éƒ¨æ˜¯ç¼ºå¤±å€¼æ‰åˆ é™¤
ï¼ˆä¸€èˆ¬æƒ…å†µä¸‹å¦‚æœæœ‰éƒ¨åˆ†ç¼ºå¤±å€¼æ˜¯ä¸å½±å“æ•´ä½“è¡Œåˆ—çš„ï¼Œå¦‚æœæœ‰å°±åˆ é™¤ä¼šå½±å“æ•°æ®å®Œæ•´æ€§ï¼‰

In [11]:
data.dropna(how='all')[:3]
# åˆ é™¤ä»»ä½•åŒ…å« NA å€¼çš„è¡Œï¼š
# å¯ä»¥çœ‹åˆ°åŸæœ¬æœ‰NAå€¼å¾—è¡Œå…¨éƒ¨è¢«åˆ é™¤

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

â†’å›¾ç¤ºè§£è¯»ï¼šæˆ‘ä»¬å¯ä»¥å‘ç°ï¼Œå…¨éƒ¨æ˜¯ç¼ºå¤±å€¼æ‰åˆ é™¤çš„æ–¹æ³•å¾ˆä½æ•ˆå‡ ä¹æ²¡ç”¨

â†’åŸå§‹æ•°æ®æ˜¯5043è¡Œï¼Œç»è¿‡å¤„ç†åä»ç„¶æ˜¯5043è¡Œ

##### â‘¢ è‡³å°‘æœ‰nä¸ªæ‰åˆ é™¤
ï¼ˆæˆ‘ä»¬å¯ä»¥è®¾å®šä¸€ä¸ªâ€œé—¨æ§›â€ï¼Œå¦‚æœä¸€è¡Œä¸­æœ‰5ä¸ªä»¥ä¸Šç¼ºå¤±å€¼å°±åˆ é™¤ï¼Œè¿™æ ·æ¯”èµ·ä¸Šé¢ä¸¤ä¸ªæ–¹æ³•æ›´åŠ â€œä¸­åº¸â€ï¼‰

â†’å›¾ç¤ºè§£è¯»ï¼šä½†æˆ‘ä»¬å‘ç°è®¾å®š5ä¸ªç¼ºå¤±å€¼ä¸ºé—¨æ§›ä»ç„¶ä¸èƒ½å¤„ç†ï¼Œæˆ‘ä»¬éœ€è¦é™ä½åˆ é™¤çš„é—¨æ§›,ï¼Œæ¯”å¦‚æ”¹åˆ°4ä¸ªæˆ–3

In [13]:
data.dropna(thresh=5)[:3]
# åœ¨ä¸‹é¢çš„ä¾‹å­ä¸­ï¼Œè¡Œæ•°æ®ä¸­è‡³å°‘è¦æœ‰ 5 ä¸ªç¼ºå¤±å€¼æ‰ä¼šåˆ é™¤

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

##### â‘£ æŸä¸ª/å‡ ä¸ªåˆ—å€¼ç¼ºå¤±æ‰åˆ é™¤
ï¼ˆå¦‚æœæˆ‘ä»¬è§‰å¾—æŸå‡ ä¸ªå€¼æ˜¯ç‰¹åˆ«é‡è¦çš„ã€ä¸å¯æˆ–ç¼ºçš„è¯ï¼Œå¦‚æœæ˜¯ç¼ºå¤±å€¼è¯¥æ•°æ®å°±æ²¡æ„ä¹‰ï¼Œå°±å¯ä»¥æŒ‡å®šç‰¹å®šåˆ—ï¼‰

ï¼ˆä¾‹å¦‚å¯¹äºä¸€ä¸ªç”µå½±è€Œè¨€ï¼Œç”µå½±åå­—æˆ–è€…å¯¼æ¼”é€šå¸¸æ˜¯å¿…é¡»çš„è¦ç´ ï¼‰

In [14]:
data.dropna(subset=['director_name','title_year'])[:3]
# æ­¤å¤„ç”¨subsetæ–¹æ³•åˆ é™¤äº† 'director_name','title_year'ä¸ºç¼ºå¤±å€¼çš„è¡Œ

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

##### â‘¤ åˆ é™¤åˆ—
ï¼ˆå‰é¢çš„æ“ä½œæ˜¯é’ˆå¯¹è¡Œï¼‰

ï¼ˆåŒæ ·çš„æ–¹æ³•ä¹Ÿé€‚ç”¨äºäºåˆ—ï¼Œåªéœ€è¦è¡¥å……axis=1çš„å‚æ•°å³å¯ã€‚é»˜è®¤å€¼ä¸ºaxis=0 è¡Œ  axis=1 åˆ—ï¼‰

In [16]:
# åˆ é™¤ä¸€æ­£åˆ—ä¸º NA çš„åˆ—ï¼š
data.dropna(axis=1, how='all')[:3]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [17]:
# åˆ é™¤ä»»ä½•åŒ…å«ç©ºå€¼çš„åˆ—ï¼š
data.dropna(axis=1, how='any')[:3]

,genres,movie_title,num_voted_users,cast_total_facebook_likes,movie_imdb_link,imdb_score,movie_facebook_likes
0,Action|Adventure|Fantasy|Sci-Fi,Avatar,886204,4834,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,7.9,33000
1,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,471220,48350,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,7.1,0
2,Action|Adventure|Thriller,Spectre,275868,11700,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,6.8,85000

#### 3. é€šè¿‡è®¡ç®—å¡«å……
ä½¿ç”¨æ•°å­—ç±»å‹çš„æ•°æ®ï¼Œæ¯”å¦‚ï¼Œç”µå½±çš„æ—¶é•¿ï¼Œè®¡ç®—åƒç”µå½±å¹³å‡æ—¶é•¿å¯ä»¥å¸®æˆ‘ä»¬ç”šè‡³æ˜¯æ•°æ®é›†ã€‚è¿™å¹¶ä¸æ˜¯æœ€ä¼˜è§£ï¼Œä½†è¿™ä¸ªæŒç»­æ—¶é—´æ˜¯æ ¹æ®å…¶ä»–æ•°æ®ä¼°ç®—å‡ºæ¥çš„ã€‚è¿™æ ·çš„æ–¹å¼ä¸‹ï¼Œå°±ä¸ä¼šå› ä¸ºåƒ 0 æˆ–è€… NaNè¿™æ ·çš„å€¼åœ¨æˆ‘ä»¬åˆ†æçš„æ—¶å€™è€ŒæŠ›é”™ã€‚

In [35]:
# hist
# import matplotlib.pyplot as plt
# plt.hist(data['duration']);
data['duration'] = data['duration'].fillna(data['duration'].mean())
data['duration'][:5]
# æ­¤å¤–è¿˜å¯ä»¥ä½¿ç”¨æœ€å¤§å€¼ æœ€å°å€¼ ç­‰æ–¹å¼å¡«è¡¥

0    178.000000
1    169.000000
2    148.000000
3    164.000000
4    107.201074
Name: duration, dtype: float64

###    äºŒã€å¯¹æ•°å€¼ç±»å‹è¿›è¡Œè§„èŒƒ(è½¬æ¢ç±»å‹ï¼‰

æœ‰çš„æ—¶å€™ï¼Œå°¤å…¶å½“æˆ‘ä»¬è¯»å– csv ä¸­ä¸€ä¸²æ•°å­—çš„æ—¶å€™ï¼Œæœ‰çš„æ—¶å€™æ•°å€¼ç±»å‹çš„æ•°å­—è¢«è¯»æˆå­—ç¬¦ä¸²çš„æ•°å­—ï¼Œæˆ–å°†å­—ç¬¦ä¸²çš„æ•°å­—è¯»æˆæ•°æ®å€¼ç±»å‹çš„æ•°å­—ã€‚

In [21]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [36]:
data['duration'] = data['duration'].astype('int')
data['duration']
# è¿™å°±æ˜¯å‘Šè¯‰ Pandas â€˜durationâ€™åˆ—çš„ç±»å‹æ˜¯æ•°å€¼ç±»å‹ã€‚
# åŒæ ·çš„ï¼Œå¦‚æœæƒ³æŠŠä¸Šæ˜ å¹´è¯»æˆå­—ç¬¦ä¸²è€Œä¸æ˜¯æ•°å€¼ç±»å‹ï¼Œæˆ‘ä»¬ä½¿ç”¨å’Œä¸Šé¢ç±»ä¼¼çš„æ–¹æ³•ï¼š

0       178
1       169
2       148
3       164
4       107
       ...
5038     87
5039     43
5040     76
5041    100
5042     90
Name: duration, Length: 5043, dtype: int64

In [43]:
# import numpy as np
# data['title_year']=data['title_year'].fillna(np.nan)
data['title_year'].astype(str)[:3]

0    2009.0
1    2007.0
2    2015.0
Name: title_year, dtype: object

### ä¸‰ã€ä¸è¯†åˆ«æ•°æ®

æœ‰æ—¶å€™æˆ‘ä»¬ä¸æƒ³çœ‹åˆ°æŸåˆ—æˆ–è€…æŸè¡Œçš„ç©ºå€¼ï¼Œä½†å´è¯¥åˆ—ç¼ºå¤±ä¸æ˜¯å…³é”®é‡ä¸éœ€è¦åˆ é™¤
å¯ä»¥é€‰æ‹©å¿½ç•¥/ä¸è¯†åˆ«è¯¥æ•°æ®çš„æ–¹æ³•

In [51]:
data['director_name'] = data['director_name'].replace({'NaN',''})
data['director_name'].fillna('')

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
5038          Scott Smith
5039
5040     Benjamin Roberds
5041          Daniel Hsia
5042             Jon Gunn
Name: director_name, Length: 5043, dtype: object

åŒæ ·çš„ï¼Œ å¯¹äºçˆ¬è™«æ–‡æœ¬ä¸­å¯èƒ½ä¼šå‡ºç°æ¢é”™è¡Œçš„æƒ…å†µ

ä¾‹å¦‚ åŸæ–‡æœ¬ä¸º112233

å› ä¸ºé”™æ¢è¡Œæƒ…å†µå˜æˆ11

                22
            
                33
                
å› æ­¤ï¼Œç”¨è¿™ä¸ªæ–¹æ³•å¯ä»¥å¯ä»¥æ›¿æ¢æ–‡æœ¬ä¸­å­˜åœ¨çš„\nï¼ˆè¿˜å¯ç”¨æ¥å…¶ä»–è½¬ç§»è½¬ä¹‰å­—ç¬¦ \n\t\r

### å››ã€é‡å¤æ•°æ®

æœ‰çš„æ—¶å€™æ•°æ®é›†ä¸­ä¼šæœ‰ä¸€äº›é‡å¤çš„æ•°æ®ã€‚åœ¨æˆ‘ä»¬çš„æ•°æ®é›†ä¸­ä¹Ÿæ·»åŠ äº†é‡å¤çš„æ•°æ®ã€‚

In [52]:
# é¦–å…ˆæˆ‘ä»¬æ ¡éªŒä¸€ä¸‹æ˜¯å¦å­˜åœ¨é‡å¤è®°å½•ã€‚
# å¦‚æœå­˜åœ¨é‡å¤è®°å½•ï¼Œå°±ä½¿ç”¨ Pandas æä¾›çš„ drop_duplicates() æ¥åˆ é™¤é‡å¤æ•°æ®ã€‚

data.drop_duplicates(['director_name','duration'],inplace=True)

## æ¡ˆä¾‹2ï¼šç—…äººå¿ƒè„ç—…æ•°æ®

https://www.cnblogs.com/BoyceYang/p/8186033.html

In [53]:
import pandas as pd
df = pd.read_csv('../data/patient_heart_rate.csv')
df.head()

     1    MickÃ©y MousÃ©    56       70kgs  72  69  71   -  -.1 -.2
0  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6.0     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

- æ²¡æœ‰åˆ—å¤´
- ä¸€ä¸ªåˆ—æœ‰å¤šä¸ªå‚æ•°
- åˆ—æ•°æ®çš„å•ä½ä¸ç»Ÿä¸€
- ç¼ºå¤±å€¼
- ç©ºè¡Œ
- é‡å¤æ•°æ®
- é ASCII å­—ç¬¦
- æœ‰äº›åˆ—å¤´åº”è¯¥æ˜¯æ•°æ®ï¼Œè€Œä¸åº”è¯¥æ˜¯åˆ—åå‚æ•°

### äº”ã€å¢åŠ åˆ—å¤´

In [54]:
import pandas as pd
column_names= ['id', 'name', 'age', 'weight','m0006','m0612','m1218','f0006','f0612','f1218']
df = pd.read_csv('../data/patient_heart_rate.csv', names = column_names)
df.head(15)

      id            name   age      weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    MickÃ©y MousÃ©  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      ScÃ¶Ã¶py Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87

### å…­ã€å•ä½åˆ—æ•°æ®çš„å•ä½ä¸ç»Ÿä¸€

å¦‚æœä»”ç»†è§‚å¯Ÿæ•°æ®é›†å¯ä»¥å‘ç° Weight åˆ—çš„å•ä½ä¸ç»Ÿä¸€ã€‚æœ‰çš„å•ä½æ˜¯ kgsï¼Œæœ‰çš„å•ä½æ˜¯ lbs (ç£…ï¼‰

In [55]:
# è·å– weight æ•°æ®åˆ—ä¸­å•ä½ä¸º lbs çš„æ•°æ®
rows_with_lbs = df['weight'].str.contains('lbs').fillna(False)
df[rows_with_lbs]

    id          name   age      weight m0006 m0612 m1218 f0006 f0612 f1218
1  2.0   Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
4  5.0  Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5  6.0   Huey McDuck  52.0      189lbs     -     -     -    68    75    72
9  9.0   Huey McDuck  52.0      189lbs     -     -     -    68    75    72

ä¸ºäº†è§£å†³è¿™ä¸ªé—®é¢˜ï¼Œå°†å•ä½ç»Ÿä¸€ï¼Œæˆ‘ä»¬å°†å•ä½æ˜¯ lbs(ç£…) çš„æ•°æ®è½¬æ¢æˆ kgs(åƒå…‹ï¼‰ã€‚ `1Kg=2.20462LBS`

In [56]:
for i,lbs_row in df[rows_with_lbs].iterrows():
    weight = int(float(lbs_row['weight'][:-3])/2.2)
    df.at[i,'weight'] = '{}kgs'.format(weight)

In [57]:
df.head(12)

      id            name   age weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    MickÃ©y MousÃ©  56.0  70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0  70kgs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0    NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN  78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  90kgs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0  56kgs     -     -     -    71    78    75
7    8.0      ScÃ¶Ã¶py Doo  32.0  78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    9.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0  45kgs     -     -     -    92    95    87

### ä¸ƒã€ç©ºè¡Œ 

ä»”ç»†å¯¹æ¯”ä¼šå‘ç°æˆ‘ä»¬çš„æ•°æ®ä¸­ä¸€è¡Œç©ºè¡Œï¼Œé™¤äº† index ä¹‹å¤–ï¼Œå…¨éƒ¨çš„å€¼éƒ½æ˜¯ NaNã€‚

Pandas çš„ read_csv() å¹¶æ²¡æœ‰å¯é€‰å‚æ•°æ¥å¿½ç•¥ç©ºè¡Œï¼Œè¿™æ ·ï¼Œæˆ‘ä»¬å°±éœ€è¦åœ¨æ•°æ®è¢«è¯»å…¥ä¹‹åå†ä½¿ç”¨ dropna() è¿›è¡Œå¤„ç†ï¼Œåˆ é™¤ç©ºè¡Œ.

In [58]:
# åˆ é™¤å…¨ç©ºçš„è¡Œ
df.dropna(how='all',inplace=True)
df.head(12)

      id            name   age weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    MickÃ©y MousÃ©  56.0  70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0  70kgs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0    NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN  78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  90kgs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0  56kgs     -     -     -    71    78    75
7    8.0      ScÃ¶Ã¶py Doo  32.0  78kgs    78    76    75     -     -     -
9    9.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0  45kgs     -     -     -    92    95    87

In [59]:
import pandas as pd
# å¢åŠ åˆ—å¤´
column_names= ['id', 'name', 'age', 'weight','m0006','m0612','m1218','f0006','f0612','f1218']
df = pd.read_csv('../data/patient_heart_rate.csv', names = column_names)
# åˆ‡åˆ†åå­—ï¼Œåˆ é™¤æºæ•°æ®åˆ—
df[['first_name','last_name']] = df['name'].str.split(expand=True)
df.drop('name', axis=1, inplace=True)
# è·å– weight æ•°æ®åˆ—ä¸­å•ä½ä¸º lbs çš„æ•°æ®
rows_with_lbs = df['weight'].str.contains('lbs').fillna(False)
df[rows_with_lbs]
# å°† lbs çš„æ•°æ®è½¬æ¢ä¸º kgs æ•°æ®
for i,lbs_row in df[rows_with_lbs].iterrows():
    weight = int(float(lbs_row['weight'][:-3])/2.2)
df.at[i,'weight'] = '{}kgs'.format(weight)
# åˆ é™¤å…¨ç©ºçš„è¡Œ
df.dropna(how='all',inplace=True)
# åˆ é™¤é‡å¤æ•°æ®è¡Œ
df.drop_duplicates(['first_name','last_name'],inplace=True)
# åˆ é™¤é ASCII å­—ç¬¦
df['first_name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df['last_name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
# åˆ‡åˆ† sex_hour åˆ—ä¸º sex åˆ—å’Œ hour åˆ—
sorted_columns = ['id','age','weight','first_name','last_name']
df = pd.melt(df,
id_vars=sorted_columns,var_name='sex_hour',value_name='puls_rate').sort_values(sorted_columns)
df[['sex','hour']] = df['sex_hour'].apply(lambda x:pd.Series(([x[:1],'{}-{}'.format(x[1:3],x[3:])])))[[0,1]]
df.dr op('sex_hour', axis=1, inplace=True)
# åˆ é™¤æ²¡æœ‰å¿ƒç‡çš„æ•°æ®
row_with_dashes = df['puls_rate'].str.contains('-').fillna(False)
df.drop(df[row_with_dashes].index,
inplace=True)
# é‡ç½®ç´¢å¼•ï¼Œä¸åšä¹Ÿæ²¡å…³ç³»ï¼Œä¸»è¦æ˜¯ä¸ºäº†çœ‹ç€ç¾è§‚ä¸€ç‚¹
df = df.reset_index(drop=True)
print(df)

      id   age      weight first_name last_name puls_rate sex   hour
0    1.0  56.0       70kgs      Micky      Mous        72   m  00-06
1    1.0  56.0       70kgs      Micky      Mous        69   m  06-12
2    1.0  56.0       70kgs      Micky      Mous        71   m  12-18
3    2.0  34.0   154.89lbs     Donald      Duck        85   f  00-06
4    2.0  34.0   154.89lbs     Donald      Duck        84   f  06-12
5    2.0  34.0   154.89lbs     Donald      Duck        76   f  12-18
6    3.0  16.0         NaN       Mini     Mouse        65   f  00-06
7    3.0  16.0         NaN       Mini     Mouse        69   f  06-12
8    3.0  16.0         NaN       Mini     Mouse        72   f  12-18
9    4.0   NaN       78kgs    Scrooge    McDuck        78   m  00-06
10   4.0   NaN       78kgs    Scrooge    McDuck        79   m  06-12
11   4.0   NaN       78kgs    Scrooge    McDuck        72   m  12-18
12   5.0  54.0  198.658lbs       Pink   Panther        69   f  00-06
13   5.0  54.0  198.658lbs       Pink   Panther       NaN   f  06-12
14   5.0  54.0  198.658lbs       Pink   Panther        75   f  12-18
15   6.0  52.0      189lbs       Huey    McDuck        68   f  00-06
16   6.0  52.0      189lbs       Huey    McDuck        75   f  06-12
17   6.0  52.0      189lbs       Huey    McDuck        72   f  12-18
18   7.0  19.0       56kgs      Dewey    McDuck        71   f  00-06
19   7.0  19.0       56kgs      Dewey    McDuck        78   f  06-12
20   7.0  19.0       56kgs      Dewey    McDuck        75   f  12-18
21   8.0  32.0       78kgs       Scpy       Doo        78   m  00-06
22   8.0  32.0       78kgs       Scpy       Doo        76   m  06-12
23   8.0  32.0       78kgs       Scpy       Doo        75   m  12-18
24  10.0  12.0       45kgs      Louie    McDuck        92   f  00-06
25  10.0  12.0       45kgs      Louie    McDuck        95   f  06-12
26  10.0  12.0       45kgs      Louie    McDuck        87   f  12-18

æ›´å¤šç»ƒä¹ ï¼š https://github.com/computational-class/data_cleaning  

![image.png](./images/end.png)